<div class="posts-list">
  <% site.posts.forEach(post=> { %>
  <h2 class="post-link-wrapper">
    <a target="_blank" class="post-link" href="<%- post.path %>">
      <%- post.title %>
    </a>
  </h2>

  <% }) %> <% site.pages.forEach(post=> { %>
</div>
<hr />
<div>页面</div>
<h2>
  <a href="<%- post.path %>"> <%- post.title %> </a>
</h2>

<% }) %>
